body
{
    background-color: white;
}

#main
{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#terminal
{
    width: 75%;
    height: 100%;
    border: 1px solid #555;
    overflow: auto;
    background-color: black;
    color: lightgreen;
    font-family: monospace;
}

#termInputSection
{
    display: flex;
    width: 75%;
    padding: 0px;
    margin: 0px;
}

#termInput
{
    width: 100%;
    padding: 0px;
    margin: 0px;
}