html
{
    font-size: 62.5%;
}

body
{
    font-family: "Gruppo";
    background-color: black;
    height: 100vh;
    color: white;
}

.fancySelect
{
    width: 100%;
    height: 50%;
    display: flex;
}

.fancySelectElement
{
    flex: 1;
    width: 100%;
    transition-duration: 250ms;
    transition-timing-function: linear;
    color: white;

    margin: 1rem;
    padding: 2rem;
    border-radius: 50px;

    background-image: url("./pexels-liger-pham-1108701.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(90%);


    text-shadow: 0px 0px 5px #000;
}

.keepColor
{
    filter: grayscale(0%);
}

.fancySelectElement h1
{
    font-stretch: ultra-expanded;
    font-size: 10rem;
}

.fancySelectElement p
{
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

.fancySelectElement p::selection
{
    background-color: white;
    color: black;
}

.fancySelectElement a
{
    font-size: 2rem;
    color: goldenrod;
    position: absolute;
    bottom: 0;
    margin-left: 2rem;
    margin-bottom: 2rem;
    text-wrap: wrap;
}

.fancySelectElement:hover
{
    flex: 5;
    filter: grayscale(0%);
    transition-timing-function: linear;
    border-radius: 10px;
    cursor: pointer;
}

.fancySelectElementText
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.fancySelectGrid
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.fancySelectCol
{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    transition-duration: 250ms;
}

.fancySelectCol:hover
{
    flex:3;
}

.subHeader
{
    width: 100%;
    text-align: center;
    font-size: 10rem;
    color: white;
    transition-duration: 250ms;
}

.subHeader:hover
{
    transform: skewX(-30deg) scaleX(2);
}

.subHeader2
{
    text-align: center;
    font-size: 10rem;
    color: white;
    transform: scaleX(-1);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-duration: 1s;
}

.subHeader2:hover
{
    transform: skewX(30deg) scaleX(1);
}

.subHeader2:hover:after
{
    transform: skewX(30deg) scaleX(1);
}

.spacer
{
    height: 50%;
}

.centerMessage
{
    border-top: white solid 1px;
    border-left: white solid 1px;
    border-right: white solid 1px;
    width: 100;
    text-align: right;
    color: white;
    font-size: 3rem;
    margin-bottom: 0px;
}

.centerMessageEnd
{
    margin: 0px;
    border-bottom: white solid 1px;
    border-left: white solid 1px;
    border-right: white solid 1px;
    width: 100%;
    color: white;
    font-size: 3rem;
}

.card
{
    background-position-y: center;
    background-size: 100vw;
    background-attachment: fixed;
    height: 75vh;
    margin-bottom: 50vh;
    padding: 4rem;
    text-shadow: 0px 0px 5px #000;
}

.card h1
{
    color: white;
    font-size: 10rem;
}

.card p
{
    width: 100%;
    color:white;
    font-size: 4rem;
}

.bg1
{
    background-image: url("./pexels-liger-pham-1108701.jpg");
    transition-duration: 250ms;
}

.bg2
{
    background-image: url("./pexels-stefan-stefancik-109243.jpg");
}

.bg3
{
    background-image: url("./pexels-krivec-ales-547114.jpg");
}

.rightAlign
{
    text-align: right;

}

.bgImage
{
    position: relative;
    left: 0;
    top: 0;
}

header p
{
    color: white;
    font-size: 3rem;
    margin: 0px;
    margin-left: 2rem;
}

#ttl
{
    margin: 0px;
    margin-left: 5rem;
    color: white;
    font-size: 10rem;
}

#container
{
    overflow-y:hidden;
    display: none;
}

.slide-in-from-right {
    animation: 2s ease-out 1 slideInFromRight forwards;
  }
  
  @keyframes slideInFromRight {
    0% {
      filter: brightness(0%);
    }
    100% {
      filter: brightness(100%);
    }
  }

.gridBlock
{

    width: 100%;
    height: 100%;
}

.gridContainer
{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1.5rem;
}

.gridContainer article
{
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    border: solid white 1px;
    opacity: 50%;
}

.gridContainer img
{
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
}