body
{
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
}

@keyframes blurout {
    0% {filter: blur(0px);}
    100% {filter: blur(5px);}
}

#letters
{
    width: 75%;
    display: flex;
    justify-content: space-around;
}

#registration
{
    display: none;
    padding: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

#result
{
    padding: 3rem;
    color: white;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

#leaderboard
{
    padding: 3rem;
    display: none;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes logoFade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#title
{
    color: white;
    font-size: 10rem;

    animation-name: logoFade;
    animation-duration: 1s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.gameLetter
{
    color: white;
    font-size: 8rem;

}

.letterAnimated
{
    animation-name: blink;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

main 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    border: 1px solid white;
}

@keyframes blink {
    0% {color: yellow;}
    50% {color: wheat;}
    100% {color: yellow;}
}